@import '../../styles/sass/variables';

.repositoryCard {
  background-color: $white;
  width: 100%;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  border-bottom: 3px solid transparent;
  transform: translateX(0);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 3px solid transparent;
}

.repositoryCard:hover {
  border-bottom: 3px solid $green;
  transform: translateX(20px);
}

.repositoryCard__iconArrow {
  width: 45px;
  height: 45px;
  margin-left: auto;
}