@import '../../styles/sass/variables.scss';

.inputSearch {
  width: 100%;
  height: 60px;
  margin-top: 40px;
  position: relative;
  box-shadow: 6px 6px 18px $ice;
  display: flex;

  &__field {
    height: 60px;
    width: 100%;
    padding: 8px 16px;
    border: 2px solid transparent;

    &.is-error {
      border: 2px solid $alert;
    }
  }

  &__error-message {
    color: $alert;
    position: absolute;
    left: 0;
    bottom: -28px;
  }
}

